<!-- === UMT Assignment Header (Dark + Centered + Fixed Background) === -->

<div style="background-color:#000000; color:white; padding:25px; border-radius:12px; box-shadow:0 0 12px rgba(0,0,0,0.5); font-family:'Segoe UI',sans-serif;">

  <table style="width:100%; border-collapse:collapse;">
    <tr>
      <td style="width:20%; text-align:center; vertical-align:middle; font-size:30px; font-weight:bold; color:#3b82f6;">
        UMT
      </td>
      <td style="text-align:center;">
        <div style="font-size:22px; font-weight:bold; color:#93c5fd;">University of Management and Technology</div>
        <div style="font-size:18px; color:#e0f2fe; margin-top:4px;">Deep Learning & Neural Networks</div>
        <div style="font-size:17px; color:#cbd5e1; margin-top:2px;">Assignment 1</div>
      </td>
    </tr>
  </table>

  <hr style="border:1px solid #1e3a8a; margin:18px 0;">

  <table style="width:100%; border-collapse:collapse; font-size:16px;">
    <tr>
      <td style="padding:8px; color:#e2e8f0;"><b>Student Name:</b></td>
      <td style="padding:8px; color:#f8fafc;">Syed Shahzil Abbas</td>
      <td style="padding:8px; color:#e2e8f0;"><b>ID:</b></td>
      <td style="padding:8px; color:#f8fafc;">23018020020</td>
    </tr>
    <tr style="background-color:#1e3a8a;">
      <td style="padding:8px; color:#e2e8f0;"><b>Program:</b></td>
      <td style="padding:8px; color:#f8fafc;">BSCS (A)</td>
      <td style="padding:8px; color:#e2e8f0;"><b>Semester:</b></td>
      <td style="padding:8px; color:#f8fafc;">Fall 2025</td>
    </tr>
    <tr>
      <td style="padding:8px; color:#e2e8f0;"><b>Resource Person:</b></td>
      <td style="padding:8px; color:#f8fafc;">Ms Hina Tufail</td>
      <td style="padding:8px; color:#e2e8f0;"><b>Due Date:</b></td>
      <td style="padding:8px; color:#f8fafc;">18 / 11 / 25</td>
    </tr>
    <tr style="background-color:#1e3a8a;">
      <td style="padding:8px; color:#e2e8f0;"><b>Composed Date:</b></td>
      <td style="padding:8px; color:#f8fafc;">10 / 11 / 25</td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>

### **_KeyTasks_:**
- Linear Regression (mobile_prices_2023.csv)
- Logistic Regression (phone_calls.csv)

### <span style="color:blue">**_Applying Linear Regression on Mobile Price Prediction Dataset_**</span>
- Data Preprocessing
- Loading Dataset
- Dataset Spliting 
- h_function()
- cost_function()
- gradient_descent()
- plot_data()

#### **_Importing Libraries_**

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
# data= pd.read_csv("mobile_prices_2023.csv")
# print(data.head())
print(data.isnull().sum())

Phone Name             0
Rating ?/5             0
Number of Ratings      0
RAM                    0
ROM/Storage          174
Back/Rare Camera       9
Front Camera         401
Battery               10
Processor             55
Price in INR           0
Date of Scraping       0
dtype: int64

Phone Name             0
Rating ?/5             0
Number of Ratings      0
RAM                    0
ROM/Storage          174
Back/Rare Camera       9
Front Camera         401
Battery               10
Processor             55
Price in INR           0
Date of Scraping       0
dtype: int64

In [ ]:
# data['Number of Ratings']=data['Number of Ratings'].str.replace(',','').astype(int)
data['Price in INR']=data['Price in INR'].str.replace('₹','')
data['Price in INR']=data['Price in INR'].str.replace(',','').astype(float)

ValueError: could not convert string to float: '₹5,649'

In [12]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1836 entries, 0 to 1835
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Phone Name         1836 non-null   object
 1   Rating ?/5         1836 non-null   float64
 2   Number of Ratings  1836 non-null   int64
 3   RAM                1836 non-null   object
 4   ROM/Storage        1662 non-null   object
 5   Back/Rare Camera   1827 non-null   object
 6   Front Camera       1435 non-null   object
 7   Battery            1826 non-null   object
 8   Processor          1781 non-null   object
 9   Price in INR       1836 non-null   object
 10  Date of Scraping   1836 non-null   object
dtypes: float64(1), int64(1), object(9)
memory usage: 157.9+ KB
None